* {
	padding:0;
	margin:0;
	list-style:none;
}

.header{
	height: 68px;
	background: #333333;
	line-height: 68px;
}
.header_center{
	margin:0px auto;
	width: 960px;
	color: white;
	background: pink;

}
.header_center img{
	height: 33px;
	margin-bottom:;
	float: left;
	margin-right: 20px;
	padding-top: 17px;

}
.header_center p{
	font-size: 18px;
	margin-right:20px;
	float: left; 
}
.nav{
	margin:0px auto;
	width: 960px;
	height: 65px;	
}
.nav p{
	margin-top:30px;
	background:#cccccc;
	width: 145px;
	height: 35px;
	margin-right: 12px;
	float: left;
	line-height: 35px;
	text-align:center;
	color: white;
	position: relative;
	cursor: pointer;
}
.nav .d{
	background: #b40707
}
.nav p:hover{
	background: #b40707;
	font-size: ;

}
.nav_img{
    position: absolute;
    top: 6px;
    left: 26px;
    width: 14px;
    height: 22px;
    background: url('../images/reg-img01.png') no-repeat 0px -18px;
  
}
.nav_img2{
    position: absolute;
    top: 9px;
    left: 20px;
    width: 23px;
    height: 18px;
    background: url('../images/reg-img01.png') no-repeat 0px 0px;
}
.c{
	height: 18px;
	width: 126px;
	float: right ;
	margin-top: 38px;
	font-size: 15px;
	
}
.c a{
	margin-left: 4px;
	text-decoration: none;
	color: #077dff;
}
.main{
	width: 960px;
	height: 670px;
	margin: 0px auto;
	background: white;
	overflow: hidden;
}
 .main .main_hide{
	display: none;
}
.main_he{
	height: 24px;
	width: 960px;
	margin: 0px auto;
	font-size: 23px;
	border-top: 39px solid white;
	text-align: center;
}
.min{
     font-size: 16px;
     color: gray;
     width: 970px;
     height:16px; 
	margin: 0px auto;
	font-size: 16px;
	margin-top: 13px;
	margin-bottom: 30px;
	text-align: center;
}
.inp{
	height: 44px;
	width: 424px;
	background: #f7f7f7;
	border-radius: 30px;
	margin: 20px auto;
	border: 2px solid #d9d9d9;

}

.inp_left{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
    line-height: 44px;
	text-align: center;
	 text-align-last:justify;
    float: left;
    width: 100px;
    height: 44px;
    border-right: 2px solid #d9d9d9;

}
input{
	/* 表单的边框进行操作之前，重写或者去除 */
	/* border-right: none; */
	/* 去除边框 */
	/* border-color: red;  边框颜色修改之前一定要有边框才可以*/
	/* border: none; */
	outline: none;
	/* 去除蓝色边框 */
	border: none;
	margin-top: 5px;
	background: none;
	width: 200px;
	height: 40px;
	border-radius: 10px;
	padding-left: 10px;
	
			}
.vc{
	background: #b40707;
	margin: 17px auto;
	width: 200px;
	height: 40px;
	font-size: 14px;
	color: white;
	line-height: 46px;
	text-align: center;
	border-radius: 30px;
	cursor: pointer;
}
.footer{
	margin-top: 38px;
	height: 124px;
	padding-top: 35px;
	text-align: center;
	color: #999999;
	text-align: center;
	border-top: 2px solid #d9d9d9;

	
}
.footer p{
	margin-bottom: 25px;
	height: 13px;
	font-size: 12px;	
}
.footer a{
	color: gray;
	border-right: 0.5px solid gray;	
	padding-left: 23px;
	padding-right: 23px;
	text-decoration:none;
}
.footer a:hover{
	border-right: 0.5px solid gray;	
	padding-left: 23px;
	padding-right: 23px;
	text-decoration:underline;
}
